<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".scanner.ScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.MiniAppLib"/>
        <activity
            android:name=".MiniAppWebviewActivity"
            android:exported="false"
            android:theme="@style/Theme.MiniAppLib" />
    </application>

</manifest>